.cookie-though {
  /* The colors used to style the modal */
  --ct-primary-400: #ff5a1f;
  --ct-primary-300: #d03801;
  --ct-primary-200: #fcd9bd;
  --ct-primary-100: #feecdc;

  /* The colors used to style: customizationButton, headerDescription and cookiePolicy */
  --ct-text: #6b7280;

  /* The colors used to style the title elements */
  --ct-subtitle: var(--ct-primary-300);
  --ct-title: var(--ct-primary-400);

  /* The color used to style the cookie svg */
  --ct-cookie: var(--ct-primary-400);

  /* The colors used to style a policy */
  --ct-policy: var(--ct-white);
  --ct-policy-enabled: var(--ct-primary-400);
  --ct-policy-text: var(--ct-primary-400);
  --ct-policy-text-enabled: var(--ct-white);
  --ct-policy-essential: var(--ct-primary-100);

  /* The colors used to style the sliders */
  --ct-slider-primary: var(--gray-400);
  --ct-slider-secondary: var(--gray-300);
  --ct-slider-enabled-primary: var(--ct-primary-300);
  --ct-slider-enabled-secondary: var(--ct-white);

  /* The font color of the text inside a policy when it's enabled  */
  --ct-enabled-option-color: var(--ct-white);

  /* The white color */
  --ct-white: #ffffff;
}