{% extends "_layout.twig" %}

{% block content %}
    {% include '_partials/navbar/navbar.twig' %}

    {% include 'includes/header.twig' with {
        'tag': 'Blogs, guides and tutorials',
        'title': entry.title,
        'article': true
    } %}

    {% embed '_partials/post/content.twig' %}
        {% block content %}
            <div class="prose prose-lg prose-orange text-gray-400 mx-auto max-w-6xl">
                {% for block in entry.postContent.all() %}
                    {{ typogrify(block.text) }}
                {% endfor %}
            </div>
        {% endblock %}
    {% endembed %}

    <div class="relative bg-orange-700 py-12">
        <div class="relative max-w-7xl mx-auto">
            <div class="text-center">
                <h2 class="text-3xl tracking-tight font-extrabold text-white sm:text-4xl">
                    Latest Phoenix news
                </h2>
            </div>
            <div class="mt-8 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
                {% set entries = craft.entries()
                    .section('news')
                    .limit(3)
                    .all() %}

                {% for entry in entries %}
                    {% include '_partials/post/card.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
