{% extends "_layout.twig" %}

{% block content %}
    {% include '_partials/navbar/navbar.twig' %}

    {% include 'includes/header.twig' with {
        'tag': 'Blogs, guides and tutorials',
        'title': 'Our Latest Blog Posts',
        'description': 'Get to know everything about Phoenix and the world of Virtual Trucking!'
    } %}

    <div class="relative bg-orange-700 pt-16 pb-20 px-4 sm:px-6 lg:pt-24 lg:pb-28 lg:px-8">
        <div class="absolute inset-0">
            <div class="bg-gray-900 h-1/3 sm:h-2/3"></div>
        </div>
        <div class="relative max-w-7xl mx-auto">
            <div class="max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none">
                {% paginate
                    craft.entries
                    .section('blog')
                    .limit(6) as pageInfo, blogEntries %}

                {% for entry in blogEntries %}
                    {% include '_partials/post/card.twig' %}
                {% endfor %}
            </div>

            {% embed '_partials/pagination/paginator.twig' %}{% endembed %}
        </div>
    </div>

    {% embed '_partials/cta/orange-apply.twig' %}
    {% endembed %}
{% endblock %}