<div class="bg-orange-700" id="cta">
    <div class="max-w-2xl mx-auto text-center pb-28 px-4 sm:px-6 lg:px-8">
        <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
            <span class="block">So, what are you waiting for?</span>
            <span class="block">Break the mould and apply now!</span>
        </h2>
        <p class="mt-4 text-lg leading-6 text-gray-50">Applying only takes 10 minutes! And if you choose to join us,
            you're sure to enjoy your time here greatly.</p>
        <a href="/apply"
           class="mt-8 w-full inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-orange-600 bg-white hover:bg-orange-50 sm:w-auto">
            Apply now
        </a>
    </div>
</div>