{% extends "_layout.twig" %}

{% block content %}
    {% include '_partials/navbar/navbar.twig' %}

    {% include 'includes/header.twig' with {
        'tag': 'Contact Us',
        'title': 'Get in touch',
        'description': 'Our mission is to bring our experience and knowledge of the Virtual Trucking community and the games themselves, to create a top-notch company for both drivers and staff.'
    } %}

    <section class="relative bg-gray-900" aria-labelledby="contact-heading">
        <div class="absolute w-full h-1/2 bg-gray-800" aria-hidden="true"></div>
        <!-- Decorative dot pattern -->
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <svg class="absolute z-0 top-0 right-0 transform -translate-y-16 translate-x-1/2 sm:translate-x-1/4 md:-translate-y-24 lg:-translate-y-72"
                 width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
                <defs>
                    <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20"
                             patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor"></rect>
                    </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect>
            </svg>
        </div>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="relative bg-white shadow-xl">
                <h2 id="contact-heading" class="sr-only">Contact us</h2>

                <div class="grid grid-cols-1 lg:grid-cols-3">
                    <!-- Contact information -->
                    <div class="relative overflow-hidden py-10 px-6 bg-gradient-to-b from-orange-500 to-orange-600 sm:px-10 xl:p-12">
                        <!-- Decorative angle backgrounds -->
                        <div class="absolute inset-0 pointer-events-none sm:hidden" aria-hidden="true">
                            <svg class="absolute inset-0 w-full h-full" width="343" height="388" viewBox="0 0 343 388"
                                 fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                                <path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z"
                                      fill="url(#linear1)" fill-opacity=".1"></path>
                                <defs>
                                    <linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#fff"></stop>
                                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none sm:block lg:hidden"
                             aria-hidden="true">
                            <svg class="absolute inset-0 w-full h-full" width="359" height="339" viewBox="0 0 359 339"
                                 fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                                <path d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z"
                                      fill="url(#linear2)" fill-opacity=".1"></path>
                                <defs>
                                    <linearGradient id="linear2" x1="192.553" y1="28.553" x2="899.66" y2="735.66"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#fff"></stop>
                                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none lg:block"
                             aria-hidden="true">
                            <svg class="absolute inset-0 w-full h-full" width="160" height="678" viewBox="0 0 160 678"
                                 fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                                <path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z"
                                      fill="url(#linear3)" fill-opacity=".1"></path>
                                <defs>
                                    <linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#fff"></stop>
                                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <h3 class="text-lg font-medium text-white">Contact information</h3>
                        <p class="mt-6 text-base text-teal-50 max-w-3xl">Nullam risus blandit ac aliquam justo ipsum.
                            Quam mauris volutpat massa dictumst amet. Sapien tortor lacus arcu.</p>
                        <dl class="mt-8 space-y-6">
                            <dt><span class="sr-only">Email</span></dt>
                            <dd class="flex text-base text-orange-50">
                                <svg class="flex-shrink-0 w-6 h-6 text-orange-200"
                                     xmlns="http://www.w3.org/2000/svg"
                                     fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                          d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                                </svg>
                                <span class="ml-3">support@phoenixvtc.com</span>
                            </dd>
                        </dl>
                        <ul role="list" class="mt-8 flex space-x-12">
                            <li>
                                <a class="text-orange-200 hover:text-orange-100" href="#">
                                    <span class="sr-only">Twitter</span>
                                    <svg class="w-6 h-6" fill="currentColor" role="img" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="text-orange-200 hover:text-orange-100" href="#">
                                    <span class="sr-only">Instagram</span>
                                    <svg class="w-6 h-6" fill="currentColor" role="img" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"/>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a class="text-orange-200 hover:text-orange-100" href="#">
                                    <span class="sr-only">Discord</span>
                                    <svg class="w-6 h-6" fill="currentColor" role="img" viewBox="0 0 24 24"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.317 4.3698a19.7913 19.7913 0 00-4.8851-1.5152.0741.0741 0 00-.0785.0371c-.211.3753-.4447.8648-.6083 1.2495-1.8447-.2762-3.68-.2762-5.4868 0-.1636-.3933-.4058-.8742-.6177-1.2495a.077.077 0 00-.0785-.037 19.7363 19.7363 0 00-4.8852 1.515.0699.0699 0 00-.0321.0277C.5334 9.0458-.319 13.5799.0992 18.0578a.0824.0824 0 00.0312.0561c2.0528 1.5076 4.0413 2.4228 5.9929 3.0294a.0777.0777 0 00.0842-.0276c.4616-.6304.8731-1.2952 1.226-1.9942a.076.076 0 00-.0416-.1057c-.6528-.2476-1.2743-.5495-1.8722-.8923a.077.077 0 01-.0076-.1277c.1258-.0943.2517-.1923.3718-.2914a.0743.0743 0 01.0776-.0105c3.9278 1.7933 8.18 1.7933 12.0614 0a.0739.0739 0 01.0785.0095c.1202.099.246.1981.3728.2924a.077.077 0 01-.0066.1276 12.2986 12.2986 0 01-1.873.8914.0766.0766 0 00-.0407.1067c.3604.698.7719 1.3628 1.225 1.9932a.076.076 0 00.0842.0286c1.961-.6067 3.9495-1.5219 6.0023-3.0294a.077.077 0 00.0313-.0552c.5004-5.177-.8382-9.6739-3.5485-13.6604a.061.061 0 00-.0312-.0286zM8.02 15.3312c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9555-2.4189 2.157-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.9555 2.4189-2.1569 2.4189zm7.9748 0c-1.1825 0-2.1569-1.0857-2.1569-2.419 0-1.3332.9554-2.4189 2.1569-2.4189 1.2108 0 2.1757 1.0952 2.1568 2.419 0 1.3332-.946 2.4189-2.1568 2.4189Z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Contact form -->
                    <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
                        <h3 class="text-lg font-medium text-gray-900">Send us a message</h3>
                        <form action="#" method="POST" class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                            <div>
                                <label for="name" class="block text-sm font-medium text-gray-900">
                                    Name
                                </label>
                                <div class="mt-1">
                                    <input type="text" name="name" id="name" autocomplete="username"
                                           class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-blue-500 focus:border-blue-500 border-gray-500 rounded-md">
                                </div>
                            </div>
                            <div>
                                <label for="email"
                                       class="block text-sm font-medium text-gray-900">Email</label>
                                <div class="mt-1">
                                    <input type="email" name="email" id="email" autocomplete="email"
                                           class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-blue-500 focus:border-blue-500 border-gray-500 rounded-md">
                                </div>
                            </div>
                            <div class="sm:col-span-2">
                                <label for="subject"
                                       class="block text-sm font-medium text-gray-900">Subject</label>
                                <div class="mt-1">
                                    <input type="text" name="subject" id="subject"
                                           class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-blue-500 focus:border-blue-500 border-gray-500 rounded-md">
                                </div>
                            </div>
                            <div class="sm:col-span-2">
                                <label for="message"
                                       class="block text-sm font-medium text-gray-900">Message</label>
                                <div class="mt-1">
                                    <textarea id="message" name="message" rows="4"
                                              class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-blue-500 focus:border-blue-500 border border-gray-500 rounded-md"
                                              aria-describedby="message-max"></textarea>
                                </div>
                            </div>
                            <div class="sm:col-span-2 sm:flex sm:justify-end">
                                <button type="submit"
                                        class="mt-2 w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 sm:w-auto">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="bg-gray-900">
        <div class="max-w-md mx-auto py-24 px-4 sm:max-w-3xl sm:py-32 sm:px-6 lg:max-w-7xl lg:px-8">
            <section class="lg:grid lg:grid-cols-3 lg:gap-8" aria-labelledby="contact-heading">
                <h2 id="contact-heading" class="text-2xl font-extrabold text-white sm:text-3xl">
                    Need a specific department?
                </h2>
                <div class="mt-8 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-8 sm:gap-y-12 lg:mt-0 lg:col-span-2">

                    <div>
                        <h3 class="text-lg font-medium text-white">
                            Event Team
                        </h3>
                        <dl class="mt-2 text-base text-gray-400">
                            <div class="-mt-2">
                                <dt class="sr-only">
                                    Description
                                </dt>
                                <dd class="italic text-sm">
                                    Event invitations and inquiries
                                </dd>
                            </div>
                            <div class="mt-2">
                                <dt class="sr-only">
                                    Email
                                </dt>
                                <dd>
                                    events@phoenixvtc.com
                                </dd>
                            </div>
                        </dl>
                    </div>

                    <div>
                        <h3 class="text-lg font-medium text-white">
                            Human Resources
                        </h3>
                        <dl class="mt-2 text-base text-gray-400">
                            <div class="-mt-2">
                                <dt class="sr-only">
                                    Description
                                </dt>
                                <dd class="italic text-sm">
                                    Driver reports and member information
                                </dd>
                            </div>
                            <div class="mt-2">
                                <dt class="sr-only">
                                    Email
                                </dt>
                                <dd>
                                    events@phoenixvtc.com
                                </dd>
                            </div>
                        </dl>
                    </div>

                    <div>
                        <h3 class="text-lg font-medium text-white">
                            Recruitment
                        </h3>
                        <dl class="mt-2 text-base text-gray-400">
                            <div class="-mt-2">
                                <dt class="sr-only">
                                    Description
                                </dt>
                                <dd class="italic text-sm">
                                    All questions regarding driver applications
                                </dd>
                            </div>
                            <div class="mt-2">
                                <dt class="sr-only">
                                    Email
                                </dt>
                                <dd>
                                    recruitment@phoenixvtc.com
                                </dd>
                            </div>
                        </dl>
                    </div>

                    <div>
                        <h3 class="text-lg font-medium text-white">
                            Management
                        </h3>
                        <dl class="mt-2 text-base text-gray-400">
                            <div class="-mt-2">
                                <dt class="sr-only">
                                    Description
                                </dt>
                                <dd class="italic text-sm">
                                    Questions that concern the Management Team
                                </dd>
                            </div>
                            <div class="mt-2">
                                <dt class="sr-only">
                                    Email
                                </dt>
                                <dd>
                                    management@phoenixvtc.com
                                </dd>
                            </div>
                        </dl>
                    </div>

                </div>
            </section>
        </div>
    </div>

    <div class="bg-gray-800">
        <div class="max-w-md mx-auto py-24 px-4 sm:max-w-3xl sm:py-32 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="lg:grid lg:grid-cols-3 lg:gap-8">
                <div>
                    <h2 class="text-3xl font-extrabold text-white">
                        Frequently asked questions
                    </h2>
                    <p class="mt-4 text-lg text-gray-400">Can’t find the answer you’re looking for? Reach out to
                        our <a href="#" class="font-medium text-orange-700 hover:text-orange-600">support team</a>.
                    </p>
                </div>
                <div class="mt-12 lg:mt-0 lg:col-span-2">
                    <dl class="space-y-12">
                        <div>
                            <dt class="text-lg font-medium text-white">
                                How do you make holy water?
                            </dt>
                            <dd class="mt-2 text-base text-gray-400">
                                You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quas cupiditate laboriosam fugiat.
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}