{% extends "_layout.twig" %}

{% block content %}
    {% include '_partials/navbar/navbar.twig' %}

    {% include 'includes/header.twig' with {
        'tag': 'Contact Us',
        'title': 'Get in touch',
        'description': 'Our mission is to bring our experience and knowledge of the Virtual Trucking community and the games themselves, to create a top-notch company for both drivers and staff.'
    } %}

    <section class="relative bg-gray-900" aria-labelledby="contact-heading">
        <div class="absolute w-full h-1/2 bg-gray-800" aria-hidden="true"></div>
        <!-- Decorative dot pattern -->
        <div class="absolute max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <svg class="absolute z-0 top-0 right-0 transform -translate-y-16 translate-x-1/2 sm:translate-x-1/4 md:-translate-y-24 lg:-translate-y-72"
                 width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
                <defs>
                    <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20"
                             patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-700" fill="currentColor"></rect>
                    </pattern>
                </defs>
                <rect width="404" height="384" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)"></rect>
            </svg>
        </div>
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="relative bg-white shadow-xl">
                <h2 id="contact-heading" class="sr-only">Contact us</h2>

                <div class="grid grid-cols-1 lg:grid-cols-3">
                    <!-- Contact information -->
                    <div class="relative overflow-hidden py-10 px-6 bg-gradient-to-b from-orange-600 to-orange-700 sm:px-10 xl:p-12">
                        <!-- Decorative angle backgrounds -->
                        <div class="absolute inset-0 pointer-events-none sm:hidden" aria-hidden="true">
                            <svg class="absolute inset-0 w-full h-full" width="343" height="388" viewBox="0 0 343 388"
                                 fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                                <path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z"
                                      fill="url(#linear1)" fill-opacity=".1"></path>
                                <defs>
                                    <linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#fff"></stop>
                                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none sm:block lg:hidden"
                             aria-hidden="true">
                            <svg class="absolute inset-0 w-full h-full" width="359" height="339" viewBox="0 0 359 339"
                                 fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                                <path d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z"
                                      fill="url(#linear2)" fill-opacity=".1"></path>
                                <defs>
                                    <linearGradient id="linear2" x1="192.553" y1="28.553" x2="899.66" y2="735.66"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#fff"></stop>
                                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <div class="hidden absolute top-0 right-0 bottom-0 w-1/2 pointer-events-none lg:block"
                             aria-hidden="true">
                            <svg class="absolute inset-0 w-full h-full" width="160" height="678" viewBox="0 0 160 678"
                                 fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                                <path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z"
                                      fill="url(#linear3)" fill-opacity=".1"></path>
                                <defs>
                                    <linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66"
                                                    gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#fff"></stop>
                                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </div>
                        <h3 class="text-lg font-medium text-white">Contact information</h3>
                        <p class="mt-6 text-base text-teal-50 max-w-3xl">Nullam risus blandit ac aliquam justo ipsum.
                            Quam mauris volutpat massa dictumst amet. Sapien tortor lacus arcu.</p>
                        <a href="mailto:support@phoenixvtc.com" target="_blank">
                            <dl class="mt-8 space-y-6">

                                <dt><span class="sr-only">Email</span></dt>
                                <dd class="flex text-base text-orange-50">
                                    <svg class="flex-shrink-0 w-6 h-6 text-orange-200"
                                         xmlns="http://www.w3.org/2000/svg"
                                         fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                              d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                                    </svg>
                                    <span class="ml-3">support@phoenixvtc.com</span>
                                </dd>
                            </dl>
                        </a>
                        <ul role="list" class="mt-8 flex space-x-12 text-2xl">
                            <li>
                                {% if siteInformation.twitterUsername is not null %}
                                    <a href="https://twitter.com/{{ siteInformation.twitterUsername }}" target="_blank"
                                       class="text-orange-200 hover:text-orange-100">
                                        <span class="sr-only">Twitter</span>
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if siteInformation.discordInvite is not null %}
                                    <a href="{{ siteInformation.discordInvite }}" target="_blank"
                                       class="text-orange-200 hover:text-orange-100">
                                        <span class="sr-only">Discord</span>
                                        <i class="fab fa-discord"></i>
                                    </a>
                                {% endif %}
                            </li>
                            <li>
                                {% if siteInformation.truckersmpVtcId is not null %}
                                    <a href="https://truckersmp.com/vtc/{{ siteInformation.truckersmpVtcId }}"
                                       target="_blank"
                                       class="text-orange-200 hover:text-orange-100">
                                        <span class="sr-only">TruckersMP</span>
                                        <i class="fas fa-truck"></i>
                                    </a>
                                {% endif %}
                            </li>
                        </ul>
                    </div>

                    <!-- Contact form -->
                    <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
                        <h3 class="text-lg font-medium text-gray-900">Send us a message</h3>
                        <form action="#" method="POST" class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                            <div>
                                <label for="name" class="block text-sm font-medium text-gray-900">
                                    Name
                                </label>
                                <div class="mt-1">
                                    <input type="text" name="name" id="name" autocomplete="username"
                                           class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-blue-500 focus:border-blue-500 border-gray-500 rounded-md">
                                </div>
                            </div>
                            <div>
                                <label for="email"
                                       class="block text-sm font-medium text-gray-900">Email</label>
                                <div class="mt-1">
                                    <input type="email" name="email" id="email" autocomplete="email"
                                           class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-blue-500 focus:border-blue-500 border-gray-500 rounded-md">
                                </div>
                            </div>
                            <div class="sm:col-span-2">
                                <label for="subject"
                                       class="block text-sm font-medium text-gray-900">Subject</label>
                                <div class="mt-1">
                                    <input type="text" name="subject" id="subject"
                                           class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-blue-500 focus:border-blue-500 border-gray-500 rounded-md">
                                </div>
                            </div>
                            <div class="sm:col-span-2">
                                <label for="message"
                                       class="block text-sm font-medium text-gray-900">Message</label>
                                <div class="mt-1">
                                    <textarea id="message" name="message" rows="4"
                                              class="py-3 px-4 block w-full shadow-sm text-gray-900 focus:ring-blue-500 focus:border-blue-500 border border-gray-500 rounded-md"
                                              aria-describedby="message-max"></textarea>
                                </div>
                            </div>
                            <div class="sm:col-span-2 sm:flex sm:justify-end">
                                <button type="submit"
                                        class="mt-2 w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-orange-500 hover:bg-orange-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500 sm:w-auto">
                                    Submit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="bg-gray-900">
        <div class="max-w-md mx-auto py-24 px-4 sm:max-w-3xl sm:py-32 sm:px-6 lg:max-w-7xl lg:px-8">
            <section class="lg:grid lg:grid-cols-3 lg:gap-8" aria-labelledby="contact-heading">
                <h2 id="contact-heading" class="text-2xl font-extrabold text-white sm:text-3xl">
                    Need a specific department?
                </h2>
                <div class="mt-8 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-8 sm:gap-y-12 lg:mt-0 lg:col-span-2">

                    <div>
                        <h3 class="text-lg font-medium text-white">
                            Event Team
                        </h3>
                        <dl class="mt-2 text-base text-gray-400">
                            <div class="-mt-2">
                                <dt class="sr-only">
                                    Description
                                </dt>
                                <dd class="italic text-sm">
                                    Event invitations and inquiries
                                </dd>
                            </div>
                            <div class="mt-2">
                                <dt class="sr-only">
                                    Email
                                </dt>
                                <dd>
                                    events@phoenixvtc.com
                                </dd>
                            </div>
                        </dl>
                    </div>

                    <div>
                        <h3 class="text-lg font-medium text-white">
                            Human Resources
                        </h3>
                        <dl class="mt-2 text-base text-gray-400">
                            <div class="-mt-2">
                                <dt class="sr-only">
                                    Description
                                </dt>
                                <dd class="italic text-sm">
                                    Driver reports and member information
                                </dd>
                            </div>
                            <div class="mt-2">
                                <dt class="sr-only">
                                    Email
                                </dt>
                                <dd>
                                    events@phoenixvtc.com
                                </dd>
                            </div>
                        </dl>
                    </div>

                    <div>
                        <h3 class="text-lg font-medium text-white">
                            Recruitment
                        </h3>
                        <dl class="mt-2 text-base text-gray-400">
                            <div class="-mt-2">
                                <dt class="sr-only">
                                    Description
                                </dt>
                                <dd class="italic text-sm">
                                    All questions regarding driver applications
                                </dd>
                            </div>
                            <div class="mt-2">
                                <dt class="sr-only">
                                    Email
                                </dt>
                                <dd>
                                    recruitment@phoenixvtc.com
                                </dd>
                            </div>
                        </dl>
                    </div>

                    <div>
                        <h3 class="text-lg font-medium text-white">
                            Management
                        </h3>
                        <dl class="mt-2 text-base text-gray-400">
                            <div class="-mt-2">
                                <dt class="sr-only">
                                    Description
                                </dt>
                                <dd class="italic text-sm">
                                    Questions that concern the Management Team
                                </dd>
                            </div>
                            <div class="mt-2">
                                <dt class="sr-only">
                                    Email
                                </dt>
                                <dd>
                                    management@phoenixvtc.com
                                </dd>
                            </div>
                        </dl>
                    </div>

                </div>
            </section>
        </div>
    </div>

    <div class="bg-gray-800">
        <div class="max-w-md mx-auto py-24 px-4 sm:max-w-3xl sm:py-32 sm:px-6 lg:max-w-7xl lg:px-8">
            <div class="lg:grid lg:grid-cols-3 lg:gap-8">
                <div>
                    <h2 class="text-3xl font-extrabold text-white">
                        Frequently asked questions
                    </h2>
                    <p class="mt-4 text-lg text-gray-400">Can’t find the answer you’re looking for? Reach out to
                        our <a href="mailto:support@phoenixvtc.com"
                               class="font-medium text-orange-700 hover:text-orange-600">support team</a>.
                    </p>
                </div>
                <div class="mt-12 lg:mt-0 lg:col-span-2">
                    <dl class="space-y-12">
                        <div>
                            <dt class="text-lg font-medium text-white">
                                How do you make holy water?
                            </dt>
                            <dd class="mt-2 text-base text-gray-400">
                                You boil the hell out of it. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Quas cupiditate laboriosam fugiat.
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}