{% extends "_layout.twig" %}

{% block content %}
    {% include '_partials/navbar/navbar.twig' %}

    {% include 'includes/header.twig' with {
        'tag': 'Privacy Policy',
        'title': 'The Privacy Policy of Phoenix',
    } %}

    {% embed '_partials/post/content.twig' with {'rectangles': false} %}
        {% block content %}
            <div class="prose prose-lg prose-orange mt-6 text-gray-400 mx-auto max-w-6xl">
                {{ typogrify(siteInformation.privacyPolicy) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}